<nav class="nav-menu">
  <h4><a class="logo" href="/">3NSPIRAL</a></h4>
  <ul>
    <li><a href="/signIn">Sign In</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contacts">Contact</a></li>
    <li><a href="/github">Github</a></li>
  </ul>
</nav>
