{{> header}}
<form class="create-form" action="/add" method="post">
  <!-- <input type="hidden" name="name" value="{{id}}"> -->
  <input type="input" name="firstName" placeholder="First Name">
  <input type="input" name="lastName" placeholder="Last Name">
  <input type="input" name="username" placeholder="Username">
  <button class="button" type="submit">Create</button>
</form>
