{{> header}}
<div class="users">
  <table align="center">
    {{#each users}}
      <tr>
        <td>{{image}}<td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
      </tr>
    {{/each}}
    <a href="/create">Create User</a>
  </table>
</div>
