{{> header}}

{{#each users}}
  <p>Name: {{firstName}} {{lastName}} {{id}} </p>
  <form action="/del" method="post">
    <input type="hidden" name="rowID" value={{id}}>
    <button class="button-primary" type="submit" name="delete">Delete</button>
  </form>
{{/each}}
