body, html {
  margin: 0;
}

h4 {
  margin: 0;
}

.nav-menu {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e9776b;
}

.logo {
  float: left;
  font-size: 45px;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

li, a {
	display: inline-block;
	color: #f0f0f0;
	text-decoration: none;
	padding: 5px 16px;
	margin: 0;
}

li, a:hover {
	color: rgb(183, 235, 155);
}

.users {
  margin-top: 0;
}

.friends {
  text-align: center;
  margin-top: 5%;
}

.nickname {
  text-align: center;
  margin-bottom: 20px;
}

.get-index {
  text-align: center;
}

.create-index {
  text-align: center;
}

input {
  height: 32px;
}

.spacer {
  height: 150px;
}

.center {
  text-align: center;
}
